@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
}
